<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://booktospeech.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/23d6920e-1fc1-40be-8429-f6fb3879bd5e/resourceGroups/BookToSpeechResource/providers/Microsoft.Web/sites/BookToSpeech</ResourceId>
    <UserName>$BookToSpeech</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://booktospeech.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>